* {
	margin: 0;
	padding: 0;
	font-family: "Nunito", sans-serif;
	scroll-behavior: smooth;
}

.nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: -100%;
	width: 250px;
	height: 100vh;
	background-color: #222222;
	padding: 3rem 1.5rem;
	transition: all 0.7s ease;
}

.nav.active {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
}

.header-icon {
	font-size: 1.5rem;
	margin-right: 0.3rem;
}

.audio-book {
	width: 60%;
}

.white {
	color: #fff;
}

.grey {
	color: #b7b7b7;
}

@media screen and (max-width: 650px) {
	.audio-book {
		width: 100%;
	}

	.header-icon {
		color: #6763fd;
	}

	audio::-webkit-media-controls-time-remaining-display,
	audio::-webkit-media-controls-current-time-display {
		font-size: 90%;
	}
}


audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
	background-color: #6763fd;
	border-radius: 50%;
	margin-right: 0.5rem;
}

audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-current-time-display {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
}

/* audio::-webkit-media-controls-mute-button{
	background-color: #fff;
} */

/* audio::-webkit-media-controls-panel{
	background-color: transparent;
}

audio::-webkit-media-controls-enclosure{
	background-color: transparent;
} */